li.show {
    visibility: visible;
    display: block;
    /*border: red solid 1px;*/
}

li.hide {
    visibility: collapse;
    display: none;
    /*border: blue solid 1px;*/
}

div.show {
    visibility: visible;
    display: block;
    /*border: green solid 1px;*/
 }

div.hide {
    visibility: collapse;
    display: none;
    /*border: purple solid 1px;*/
}

a.show {
    visibility: visible;
    display: inline;
    border: green solid 1px;
}

a.hide {
    visibility: collapse;
    display: none;
    border: purple solid 1px;
}

table#posts {
    margin-top: 5rem;
}

tr.feed-row, thead.feed-row {
    border-top: #888888 1px solid;
    border-bottom: #888888 1px solid;
}

button#delete-tweets {
    border: 2px solid crimson;
}

p.lead {
    border: red solid 1px;
}

li.nav-item p {
    color: white;
}