li.show {
    visibility: visible;
    display: block;
    border: red solid 1px;
}

li.hide {
    visibility: collapse;
    display: none;
    border: blue solid 1px;
}

div.show {
    visibility: visible;
    display: block;
    border: green solid 1px;
 }

div.hide {
    visibility: collapse;
    display: none;
    border: purple solid 1px;
}

p.lead {
    border: red solid 1px;
}

li.nav-item p {
    color: white;
}